:root {
  --font-size_general: 16px;
  --blue_grey_500: #607D8B;
  --blue_grey_400: #78909C;
  --blue_grey_300: #90A4AE;
  --blue_grey_200: #B0BEC5;
  --blue_grey_100: #CFD8DC;
  --blue_grey_50: #ECEFF1;
  background: #EEEEEE;
  font-family: "Roboto", sans-serif;    
  font-size: var(--font-size_general);    
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead tr th {
  position: sticky;
  top: 0;
  z-index: 1;

  text-align: left;
  background-color: var(--blue_grey_500);
  color: #ffffff;
  font-weight: lighter;
}

table tbody tr:hover {
  background: var(--blue_grey_100);
}

table thead tr th:last-child {
  width: 100px;
}

table tbody tr td a {
  cursor: pointer;
  margin: 0 5px;
  min-width: 24px;
}

table tbody tr td a.add {
  color: #27C46B;
}
  
table tbody tr td a.edit {
  color: #FB8C00;
}

table tbody tr td a.edit:hover{
  color: var(--blue_grey_500);
}

table tbody tr td a.delete {
  color: #E34724;
}

table tbody tr td a.delete:hover{
  color: var(--blue_grey_500);
}

table.table td i {
  font-size: 19px;
}

table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
