.sel {
    width: 150px;
    position: relative;
}

.sel::after {
    /*content: "▲";*/
    content: "▼";
    position: absolute;
    top: 50%; right: 10px;
    transform: translateY(-50%);
    transition: all 0.4s;
    color: var(--blue_grey_500);
}

.sel:hover::after {
    transform: translateY(-50%) rotate(180deg);
    
    color: var(--blue_grey_300);
}

.dropdownselect {
    appearance: none;
    width: 100%;

    font-size: var(--font-size_general);
    font-family: var(--font-family_general);    
    padding: 5px 5px;
    border: 2px solid var(--blue_grey_500);
    border-radius: 5px;
    background: white;
    color: black;
}

.dropdownselect:focus {
    border: 2px solid var(--blue_grey_300) !important;
    box-shadow: 0 0 5px var(--blue_grey_300) !important;
    -moz-box-shadow: 0 0 5px var(--blue_grey_300) !important;
    -webkit-box-shadow: 0 0 5px var(--blue_grey_300) !important;
    outline-offset: 0px !important;
    outline: none !important;
}